openapi: 3.0.3
info:
  title: Stekker API
  version: 1.0.0
  description: |
    API voor selectie van vernietigingskandidaten en uitvoering van vernietiging.
    Ontworpen conform API Design Rules (ADR), Common Ground en Nerds-leidraad.

servers:
  - url: https://api.voorbeeld.nl

security:
  - oauth2:
      - selectie.read
      - selectie.write
      - vernietiging.read
      - vernietiging.write

paths:

  /selecties:
    post:
      summary: Start of herstart een selectie
      operationId: startSelectie
      security:
        - oauth2: [selectie.write]
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SelectieStart'
      responses:
        '202':
          description: Selectie gestart
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Selectie'

  /selecties/latest:
    get:
      summary: Haal de laatste selectie op
      operationId: getLatestSelectie
      security:
        - oauth2: [selectie.read]
      responses:
        '200':
          description: Huidige selectie
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Selectie'

  /selecties/latest/objecten:
    get:
      summary: Haal objecten uit de laatste selectie op
      operationId: getSelectieObjecten
      security:
        - oauth2: [selectie.read]
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
            minimum: 0
        - in: query
          name: limit
          schema:
            type: integer
            maximum: 500
        - in: query
          name: cursor
          schema:
            type: string
          description: |
            Optioneel alternatief voor offset-based paginering.
      responses:
        '200':
          description: Lijst met objecten
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ObjectenPagina'

  /vernietigingen:
    post:
      summary: Start of vervolg een vernietiging (batch)
      operationId: startVernietiging
      security:
        - oauth2: [vernietiging.write]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VernietigingBatch'
      responses:
        '202':
          description: Batch ontvangen en verwerking gestart of vervolgd
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vernietiging'

  /vernietigingen/latest:
    get:
      summary: Haal status van de laatste vernietiging op
      operationId: getLatestVernietiging
      security:
        - oauth2: [vernietiging.read]
      responses:
        '200':
          description: Status vernietiging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vernietiging'

  /vernietigingen/latest/batches:
    get:
      summary: Haal alle batchresultaten op
      operationId: getBatchResultaten
      security:
        - oauth2: [vernietiging.read]
      responses:
        '200':
          description: Lijst met batchresultaten
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchResultaat'

  /vernietigingen/latest/batches/{batchNummer}:
    get:
      summary: Haal resultaat van een specifieke batch op
      operationId: getBatchResultaat
      security:
        - oauth2: [vernietiging.read]
      parameters:
        - in: path
          name: batchNummer
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Resultaat van batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchResultaat'

components:

  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.voorbeeld.nl/oauth/token
          scopes:
            selectie.read: Lezen van selecties en objecten
            selectie.write: Starten van selecties
            vernietiging.read: Lezen van status en resultaten
            vernietiging.write: Starten van vernietiging

  schemas:

    SelectieStart:
      type: object
      description: Optionele parameters voor selectie
      properties:
        peildatum:
          type: string
          format: date

    Selectie:
      type: object
      properties:
        id:
          type: string
          example: latest
        status:
          $ref: '#/components/schemas/SelectieStatus'
        selectionTimestamp:
          type: string
          format: date-time
        totaalObjecten:
          type: integer

    Object:
      type: object
      properties:
        id:
          type: string
        type:
          type: string

    ObjectenPagina:
      type: object
      properties:
        offset:
          type: integer
        limit:
          type: integer
        totaal:
          type: integer
        items:
          type: array
          items:
            $ref: '#/components/schemas/Object'

    VernietigingBatch:
      type: object
      required:
        - batchNummer
        - objecten
      properties:
        batchNummer:
          type: integer
        objecten:
          type: array
          items:
            $ref: '#/components/schemas/Object'

    Vernietiging:
      type: object
      properties:
        id:
          type: string
          example: latest
        status:
          $ref: '#/components/schemas/VernietigingStatus'
        verwerkteBatches:
          type: integer
        totaalBatches:
          type: integer
        successCount:
          type: integer
        failureCount:
          type: integer

    BatchResultaat:
      type: object
      properties:
        batchNummer:
          type: integer
        resultaten:
          type: array
          items:
            $ref: '#/components/schemas/ObjectResultaat'

    ObjectResultaat:
      type: object
      properties:
        objectId:
          type: string
        status:
          $ref: '#/components/schemas/ObjectStatus'
        foutmelding:
          type: string

    SelectieStatus:
      type: string
      enum:
        - IDLE
        - RUNNING
        - READY
        - FAILED

    VernietigingStatus:
      type: string
      enum:
        - IDLE
        - RUNNING
        - COMPLETED
        - PARTIAL
        - FAILED

    ObjectStatus:
      type: string
      enum:
        - SUCCESS
        - FAILED
        - SKIPPED
        - NOT_FOUND
        - CHANGED